<div class="container">
      <h1 class="d-flex justify-content-center p-3">Subscription form</h1>
        <p>Some text</p>


        <%= simple_form_for (@subscription) do |s| %>
          <div class="grid">
            <%= s.input :name,
                        placeholder: 'Name' %>
            <%= s.input :email,
                        placeholder: 'Email' %>
            <%= s.input :phone, placeholder: 'Phone' %>
          </div>
            <%= s.submit "Add subscription" %>
        <% end %>



      <div class="grid">
        <% @subscriptions.each do |subscription| %>
        <div class="card">
          <p>Name: <%= subscription.name %></p>
          <p>Email: <%= subscription.email %></p>
          <p>Phone: <%= subscription.phone %></p>
        </div>
        <% end %>
      </div>
</div>
