<div class="container">
      <h1>Subscription form</h1>
        <p>Some text</p>


        <%= simple_form_for (@subscription) do |s| %>
          <div class="grid">
            <div class="field">
              <%= s.input :name,
                        placeholder: 'Name'%>
            </div>
            <div class="field">
              <%= s.input :email,
                        placeholder: 'Email' %>
            </div>
            <div class="field">
              <%= s.input :phone, placeholder: 'Phone' %>
            </div>
          </div>
          <div class="submit-button">
            <%= s.submit "Add subscription", id: :button %>
          </div>
        <% end %>




      <div class="grid">
        <% @subscriptions.each do |subscription| %>
        <div class="card">
          <p>Name: <%= subscription.name %></p>
          <p>Email: <%= subscription.email %></p>
          <p>Phone: <%= subscription.phone %></p>
        </div>
        <% end %>
      </div>
</div>
