<div class="container">
      <h1 class="d-flex justify-content-center col-12 p-3">Subscription form</h1>
        <p>Some text</p>

      <div class="form-inputs">
        <%= simple_form_for (@subscription)do |s| %>
          <%= s.input :name,
                      placeholder: 'Name' %>
          <%= s.input :email,
                      placeholder: 'Email' %>
          <%= s.input :phone, placeholder: 'Phone' %>
          <%= s.submit "Add subscription", disabled: true %>
        <% end %>
      </div>


      <div class="subscriptions-cards col-12">
        <% @subscriptions.each do |subscription| %>
        <div class="card">
          <p>Name: <%= subscription.name %></p>
          <p>Email: <%= subscription.email %></p>
          <p>Phone: <%= subscription.phone %></p>
        </div>
        <% end %>
      </div>
</div>
