<h1>Subscriptions#new</h1>
<p>Find me in app/views/subscriptions/new.html.erb</p>

 <%= simple_form_for (@subscription)do |s| %>
    <%= s.input :name, placeholder: 'Name' %>
    <%= s.input :email, placeholder: 'Email' %>
    <%= s.input :phone, placeholder: 'Phone' %>
    <%= s.submit %>
  <% end %>

<% @subscriptions.each do |subscription| %>
  <%= subscription.name %>
<% end %>
