<div class="container">
      <h1>Subscription form</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante ex, condimentum nec nunc ut, scelerisque rhoncus eros. Ut nec sem eget velit mattis interdum. Mauris lobortis molestie nibh, non cursus risus consectetur et. Sed ac neque ac dui mattis maximus. Pellentesque efficitur sodales semper. Etiam mollis dui nec pellentesque dictum. Donec lacinia placerat urna, id egestas leo placerat vitae. Donec eleifend feugiat malesuada. Integer venenatis molestie leo eu aliquet. Donec vitae fringilla ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget leo imperdiet, suscipit urna ut, suscipit quam.</p>

<!-- form for user
 -->
        <%= simple_form_for (@subscription) do |s| %>
          <div class="grid">
            <div class="field">
              <%= s.input :name,
                        placeholder: 'Name'%>
            </div>
            <div class="field">
              <%= s.input :email,
                        placeholder: 'Email' %>
            </div>
            <div class="field">
              <%= s.input :phone, placeholder: 'Phone' %>
            </div>
          </div>
          <div class="submit-button">
            <%= s.submit "Add subscription", id: :button %>
          </div>
        <% end %>


<!-- Display the added data in a list, below the form
 -->
      <div class="grid">
        <% @subscriptions.each do |subscription| %>
        <div class="card">
          <p>Name: <%= subscription.name %></p>
          <p>Email: <%= subscription.email %></p>
          <p>Phone: <%= subscription.phone %></p>
        </div>
        <% end %>
      </div>
</div>
